<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>OIC Tracker</title>
	<script type="text/javascript" src="jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="angular/angular.js"></script>
	<script type="text/javascript" src="angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="angular-growl-v2/build/angular-growl.js"></script>
	<script type="text/javascript" src="angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="angular-sanitize/angular-sanitize.js"></script>
	<script type="text/javascript" src="angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="angular-ui-select/dist/select.js"></script>
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="ng-file-upload/ng-file-upload.js"></script>

	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/controllers/main.js"></script>
	<script type="text/javascript" src="js/controllers/contacts.js"></script>
	<script type="text/javascript" src="js/controllers/contactId.js"></script>
	<script type="text/javascript" src="js/controllers/contactAdd.js"></script>
	<script type="text/javascript" src="js/controllers/contactSearch.js"></script>
	<script type="text/javascript" src="js/controllers/modal-imageUpdate.js"></script>

	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="angular-growl-v2/build/angular-growl.css">
	<link rel="stylesheet" type="text/css" href="angular-ui-select/dist/select.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div growl></div>
	<div ui-view="body"></div>
</body>
</html>